.inputGroup {
  display: grid;
  align-items: center;
  height: 30px;
  width: 100%;
  gap: 10px;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  user-select: none;
}

.inputGroup > * {
  width: 100%;
}

.full > :nth-child(2) {
  grid-column: 2 / -1;
}

.inputGroup:has(label) {
  grid-template-columns: minmax(0, 1.5fr) repeat(2, minmax(62px, 1fr));
}

label {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: var(--framer-color-text-secondary);
  padding-left: 15px;
}
